name: publish to pypi

on:
  release:
    types: [published]

jobs:
  publish:
    name: publish package to pypI
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3  # 拉取最新代码

      - name: set up python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.12'  # 选择您的 Python 版本

      - name: install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install wheel setuptools
        
      - name: build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python3 setup.py sdist bdist_wheel
          python3 -m pip install twine
          python3 -m twine upload --skip-existing dist/*